

<main id="main">
  <div class="video-container">
    <!-- This div is  intentionally blank. It creates the transparent black overlay over the video which you can modify in the CSS -->
    <div class="overlay"></div>
    <!-- The HTML5 video element that will create the background video on the header -->
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
      <source
        src="https://player.vimeo.com/external/619107001.hd.mp4?s=1482cde6c71cf38ee1a1c2747678184b11fd3ef2&profile_id=172&oauth2_token_id=57447761"
        type="video/mp4" />
    </video>
    <!-- The header content -->
    <div class="container h-100">
      <div class="d-flex h-100 text-center align-items-center">
        <div class="w-100 text-white">
          <h1 class="display-3"><strong>Welcome To Herbal Garden</strong></h1>
          <p class="lead mb-0">
            <strong>This non profit organisation is in the memory of Mr. Janmeja Singh
              Johl's Wife Mrs. Narinder Kaur Johl</strong>
          </p>
          <br />
          <a href="#plants" class="get-started-btn">Explore Herbal Garden</a>
        </div>
      </div>
    </div>
  </div>

  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="row">
        <div class="col-lg-6 order-1 order-lg-2 d-flex justify-content-center align-items-center" data-aos="fade-left"
          data-aos-delay="100">
          <img src="assets/img/logo.png" class="img-fluid image" alt="">
        </div>
        <div
          class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content d-flex flex-column justify-content-center align-items-center">
          <h1 style="font-weight: bold;">Herbal Garden Is Non-profit Organisation </h1>
          <p class="fst-italic text-justify">

            The intent to establish herbal garden is to popularize the usefulness of commonly available and frequently
            used Medicinal Plants and sensitize the public about our traditional knowledge and usage of plants. One
            segment of the garden is reserved for organizing various cultural activities.

          </p>
          <!-- <ul>
            <li><i class="bi bi-check-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
            <li><i class="bi bi-check-circle"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
            <li><i class="bi bi-check-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
          </ul> -->
          <!-- <p>
            Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
          </p> -->

        </div>
      </div>

    </div>
  </section><!-- End About Section -->

  <!-- ======= Counts Section ======= -->
  <section id="counts" class="counts section-bg">
    <div class="container">

      <div class="row counters">

        <div class="col-lg-3 col-6 text-center">
          <span data-purecounter-start="0" data-purecounter-end="400" data-purecounter-duration="1"
            class="purecounter"></span>
          <p>Total Plants</p>
          <h1 class="text-success"> <strong>400+</strong></h1>

        </div>

        <div class="col-lg-3 col-6 text-center">
          <span data-purecounter-start="0" data-purecounter-end="64" data-purecounter-duration="1"
            class="purecounter"></span>
          <p>Volunteers</p>
          <h1 class="text-success"> <strong>64+</strong> </h1>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span data-purecounter-start="0" data-purecounter-end="42" data-purecounter-duration="1"
            class="purecounter"></span>
          <p>Events</p>
          <h1 class="text-success"> <strong>42+</strong></h1>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span data-purecounter-start="0" data-purecounter-end="2" data-purecounter-duration="1"
            class="purecounter"></span>
          <p>Workers</p>
          <h1 class="text-success"> <strong>2</strong></h1>
        </div>

      </div>

    </div>
  </section><!-- End Counts Section -->


  <div class="container" data-aos="fade-up">
    <br>
    <div class="col-lg-7 mx-auto text-center mb-6">
      <h5 class="fs-3 fs-lg-5 lh-sm mb-3"><strong> Guests Gallery</strong></h5>
    </div>

    <div class="row h-100 g-2 py-1">
      <div class="col-md-4">
        <div class="card card-span h-100 text-white"><img class="h-10" src="./../../../assets/img/Img1.jpg" alt="..." />

        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-span h-100 text-white"><img class=" h-10" src="./../../../assets/img/img2.jpg"
            alt="..." />
          <div class="card-img-overlay bg-dark-gradient">

          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-span h-10 text-white"><img class="h-10" src="./../../../assets/img/img3.jpg" alt="..." />

        </div>
      </div>
    </div>
  </div>

  <!-- plants section -->
  <section id="plants">
    <div class="container" style="background-color: aliceblue;" data-aos="fade-up">
      <div class="row h-100 g-0">
        <div class="col-md-6">
          <div class="bg-300 p-4 h-100 d-flex flex-column justify-content-center">
            <h4 class="text-800"><strong> Herbal Garden Non-Organisation</strong></h4>
            <h1 class="fw-semi-bold lh-sm fs-4 fs-lg-5 fs-xl-6">Over 300+</h1>
            <p class="mb-5 fs-1"> Herbal Plants has been Planted.</p>
            <div class="d-grid gap-2 d-md-block">
              <a class="btn btn-lg btn-dark" routerLink="/plants" type="button" style="cursor: pointer;">
                Study Herbal Plants
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card card-span h-100 text-white"><img class="card-img h-100"
              src="./../../../assets/img/Plantimg2.jpg" alt="..." />
            <div class="card-img-overlay bg-dark-gradient">
              <div class="d-flex align-items-end justify-content-center h-100"><a class="btn btn-lg text-light fs-1"
                  href="#!" role="button">
                </a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="row h-100 g-2 py-1">
        <div class="col-md-4">
          <div class="card card-span h-100 text-white"><img class="card-img h-100"
              src="./../../../assets/img/plantimg1.jpg" alt="..." />
            <div class="card-img-overlay bg-dark-gradient">
              <div class="d-flex align-items-end justify-content-center h-100"><a class="btn btn-lg text-light fs-1"
                  href="#!" role="button">
                </a></div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-span h-100 text-white"><img class="card-img h-100" src="..\assets\img\plantimg3.jpg"
              alt="..." />
            <div class="card-img-overlay bg-dark-gradient">
              <div class="d-flex align-items-end justify-content-center h-100"><a class="btn btn-lg text-light fs-1"
                  href="#!" role="button">
                </a></div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-span h-100 text-white"><img class="card-img h-100" src="..\assets\img\plantimg5.jpg"
              alt="..." />
            <div class="card-img-overlay bg-dark-gradient">

            </div>

          </div>
        </div>
      </div>
    </div>
    <!-- end of .container-->

  </section>
</main>
